CompileFlags:
  Add:
    - "-I/home/skwaches/Projects/Projection/include"
    - "-I/home/skwaches/Projects/Projection/build/SDL/include-revision" 
    - "-I/home/skwaches/Projects/.Vendor/SDL/include"
  Remove:
    - "-forward-unknown-to-host-compiler"
    - "--options-file"
    - "--generate-code=arch=compute_75,code=[compute_75,sm_75]"
    - "-rdc=*"
